*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
  } */

/* HEADER */
.logo{
    width: 106px;
    height: 44px;
    margin-bottom: 20px;
}
.container{
    width: 850px;
    margin-bottom: 20px;
    color: #a3a3a3;
}
ul{
    list-style: none;
    margin: 0 -25px;
}
li{
    display: inline-block;
    color: lightgray;
    /* border: 1px solid; */
    padding: 10px 10px;
    text-align: center;
    border-radius: 6px;

}
a{
    text-decoration: none;
    padding: 10px 15px;
    color: #a3a3a3;
}

nav ul li a:hover {
    color: black;
    background-color: lightgray;
    border-radius: 6px;

  }
/* BODY */
/* Section HERO */

section{
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 10px;
}

.container-hero-text{
    width: 50%;
    left: 70px;
    top: 210px;
    color: white;
    position: absolute;
    z-index: 2;
}

/* DIV colonne float */
.raw::after{
    content: "";
    display: table;
    clear: both;
}

.header{
    margin-bottom: 20px;
}
.black{
    color: black;
}

img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
h5{
      margin:10px 0;
  }
.col{
    float: left;
    width: 20%;
}

.middle{
    width: calc(60% - 40px);
    margin: 0 20px;
}
.black-back{
    position: relative;
}

.black-back::after{
    content:"";
    display:block;
    background-color:rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
}

/* FOOTER */
footer{
    text-align: center;
}